.add-movie-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .movie-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-left,
  .form-right {
    width: 48%;
  }
  
  .movie-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
  }
  
  textarea.movie-input {
    min-height: 100px;
  }
  
  .submit-btn {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: green;
  }
  