.homepage {
    text-align: center;
    margin: 50px 20px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .homepage {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .homepage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  